.App {
  text-align: center;
}
body{
  margin: 30px;
  padding: 5px;
}
nav{
  color: white;
}
#icon{
  position: fixed;
  /* right: 10%; */
  top: 70%;
  right: 0%;
  width: 100px;
  height: 100px;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

    /* Hide the fieldset after an invalid fieldset */
    fieldset:invalid~fieldset {
      display: none;
    }
    
    /* Dim and disable the button while the form is invalid */
    form:invalid button {
      opacity: 0.3;
      pointer-events: none;
    }
    
    input, textarea {
      box-sizing: border-box;
      width: 100%;
      font-family:monospace;
      padding: 0.25em 0.5em;
    }
    
    button {
      /* width: 100%; */
      margin: 10px;
      border: thin solid darkgrey;
      font-size: 1.25em;
      background-color: darkgrey;
      color: white;
    }
    #icon:hover{
      transform: rotate(500deg);
      transition-duration: 10s;
    }
    